main {
    text-align: center;
    font-family: "Varela Round", sans-serif;
    margin-left: 8%;
    margin-right: 8%;
}

header {
    color: crimson;
    margin-bottom: 50px;
}


/* Struttura celle */
.col {
    text-align: left;
    margin: 20px 20px 20px 0;
    background-color: black;
    width: 400px;
    height: 100px;
    color: white;
    float: left;
    box-shadow: 0px 0px 13px 1px black;
    position: relative;

    
}

/* Struttura immagine */
div img {
    float: left;
    height: 100px;
}

/* Struttura per nomi e recapiti */
span {
    padding: 15px;
    position: absolute;
}

/* Tolta sottolineatura link email */
a {
    text-decoration: none;
    position: absolute;
    padding: 15px;
}

